<h1>Instagram</h1>

<h4>Stories</h4>

<%= @data %>

<%# @data.each do |d| %>
<!--  <h5>ID:</h5> <%#= d['id'] %>-->
  <%# if d['media_type'] == 'IMAGE' %>
<!--    <h5>Image:</h5> <img src="<%#= d['media_url'] %>">-->
  <%# else %>
<!--    <h5>URL:</h5> <%#= d['media_url'] %>-->
  <%# end %>
<!--  <h5>Timestamp:</h5> <%#= format_date d['timestamp'] %>-->
<!--  <h5>Caption:</h5> <%#= d['caption'] %><br><br><br>-->
<%# end %>

